//
   Created by ZoM on 14/12/13.

table(class='table table-hover', id='time-court-selection-table')
  thead
    th
    th(ng-repeat='time in schedule.times', data-val='{{time.dateTime}}')
      div {{time.time}}
      div {{time.date}}
  tbody
    tr(ng-repeat='court in schedule.courts track by $index')
      td(class='court-selection-label')
        strong Court {{$index+1}}
      td(ng-repeat='courtInfo in court track by $index')
        button(type='button', ng-if='courtInfo.isAvailable', ng-click='timeCourtSelected(this)', ng-class='{"btn btn-info" : !courtInfo.selected, "btn btn-success" : courtInfo.selected}')
          span(, ng-class='{"glyphicon glyphicon-unchecked" : !courtInfo.selected, "glyphicon glyphicon-check" : courtInfo.selected}')
          //|  {{courtInfo.isAvailable}}
          |  {{courtInfo.price | currency:"$"}}
        div(ng-if='!courtInfo.isAvailable && isAdmin', ng-class='{"btn btn-success" : courtInfo.paid == "full", "btn btn-info" : courtInfo.paid == "none"}')
          |  booked
