//
   Created by ZoM on 14/12/13.
div(id='booking-info-popup', class='modal fade', role='dialog', ng-show='isAdmin')
  div(class='modal-dialog')
    div(class='modal-content')
      form(name='bookingChangeForm')
        div(class='modal-header')
          h4(class='modal-title') Booking Information for Court {{bookingInfo.courtNo}} at {{bookingInfo.dateTime | date:'ha'}}
        div(class='modal-body')
          .row
            div(class='col-sm-5')
              strong Contact Name**
            div(class='col-sm-7 capitalize')
              input(type='text', class='form-control', ng-model='bookingInfo.contactName')
          div(class='row margin-top-bottom-small')
            div(class='col-sm-5')
              strong Contact Phone**
            div(class='col-sm-7')
              input(type='text', class='form-control bfh-phone', data-format='+1 (ddd) ddd-dddd', ng-model='bookingInfo.contactNo')
          .row
            div(class='col-sm-5')
              strong Court Number
            div(class='col-sm-7')
              input(type='number', class='form-control', ng-model='bookingInfo.courtNo', name='courtNo')
          div(class='row margin-top-bottom-small')
            div(class='col-sm-5')
              strong Date & Time
            div(class='col-sm-7')
              input(type='datetime-local', ng-model='bookingInfo.dateTime', name='dateTime')
          .row
            div(class='col-sm-5')
              strong Paid**
            div(class='col-sm-7 capitalize')
              input(type='checkbox', ng-checked='bookingInfo.payment.paid == "full" ? true : false', ng-model='bookingInfo.isPaid')
          div(class='row margin-top-bottom-small')
            div(class='col-sm-5')
              strong Note**
            div(class='col-sm-7 capitalize')
              textarea(row='3', class='form-control', ng-model='bookingInfo.note')
          .row
            div(class='col-sm-12')
              strong **
              |  Any change made to these information applies through out the whole booking.
        div(class='modal-footer')
          button(type='button', class='btn btn-success', data-dismiss='modal', ng-click='updateCourtByAdmin(bookingInfo)') Save Update
          button(type='button', class='btn btn-danger', data-dismiss='modal', ng-click='cancelOneCourtByAdmin(bookingInfo)') Cancel This
          button(type='button', class='btn btn-danger', data-dismiss='modal', ng-click='cancelCourtByAdmin(bookingInfo)') Cancel Booking
          button(type='button', class='btn btn-default', data-dismiss='modal') Close

table(class='table table-hover', id='time-court-selection-table')
  thead
    th
    th(ng-repeat='time in schedule.times', data-val='{{time.dateTime}}')
      div {{time.time}}
      div {{time.date}}
  tbody
    tr(ng-repeat='court in schedule.courts track by $index')
      td(class='court-selection-label')
        strong Court {{$index+1}}
      td(ng-repeat='courtInfo in court track by $index')
        button(type='button', ng-if='courtInfo.isAvailable', ng-click='timeCourtSelected(this)', ng-class='{"btn btn-info" : !courtInfo.selected, "btn btn-success" : courtInfo.selected}')
          span(ng-class='{"glyphicon glyphicon-unchecked" : !courtInfo.selected, "glyphicon glyphicon-check" : courtInfo.selected}')
          //|  {{courtInfo.isAvailable}}
          |  {{courtInfo.price | currency:"$"}}
        button(type='button', data-toggle='modal', data-target='#booking-info-popup', ng-if='!courtInfo.isAvailable && isAdmin', ng-click='showBookingInfo(courtInfo.booking)', ng-class='{"btn btn-default" : courtInfo.paid == "full", "btn btn-warning" : courtInfo.paid == "none"}')
          | {{courtInfo.booking.contactName}}
