//
   Created by ZoM on 14/12/13.
div(id='booking-info-popup', class='modal fade', role='dialog', ng-if='isAdmin')
  div(class='modal-dialog')
    div(class='modal-content')
      div(class='modal-header')
        h4(class='modal-title') Booking Information for Court {{bookingInfo.courtNo}} at {{bookingInfo.dateTime | date:'ha'}}
      div(class='modal-body')
        .row
          div(class='col-sm-6')
            strong Contact Name
          div(class='col-sm-6 capitalize') {{bookingInfo.contactName}}
        .row
          div(class='col-sm-6')
            strong Contact Phone
          div(class='col-sm-6') {{bookingInfo.contactNo}}
        .row
          div(class='col-sm-6')
            strong Court Number
          div(class='col-sm-6') {{bookingInfo.courtNo}}
        .row
          div(class='col-sm-6')
            strong Date
          div(class='col-sm-6') {{bookingInfo.dateTime | date: 'fullDate'}}
        .row
          div(class='col-sm-6')
            strong Time
          div(class='col-sm-6') {{bookingInfo.dateTime | date: 'ha'}}
        .row
          div(class='col-sm-6')
            strong Paid
          div(class='col-sm-6 capitalize') {{bookingInfo.payment.paid}}
      div(class='modal-footer')
        button(type='button', class='btn btn-danger', data-dismiss='modal', ng-click='cancelCourtByAdmin(bookingInfo)') Cancel This Booking
        button(type='button', class='btn btn-default', data-dismiss='modal') Close

table(class='table table-hover', id='time-court-selection-table')
  thead
    th
    th(ng-repeat='time in schedule.times', data-val='{{time.dateTime}}')
      div {{time.time}}
      div {{time.date}}
  tbody
    tr(ng-repeat='court in schedule.courts track by $index')
      td(class='court-selection-label')
        strong Court {{$index+1}}
      td(ng-repeat='courtInfo in court track by $index')
        button(type='button', ng-if='courtInfo.isAvailable', ng-click='timeCourtSelected(this)', ng-class='{"btn btn-info" : !courtInfo.selected, "btn btn-success" : courtInfo.selected}')
          span(, ng-class='{"glyphicon glyphicon-unchecked" : !courtInfo.selected, "glyphicon glyphicon-check" : courtInfo.selected}')
          //|  {{courtInfo.isAvailable}}
          | {{courtInfo.price | currency:"$"}}
        button(type='button', data-toggle='modal', data-target='#booking-info-popup', ng-if='!courtInfo.isAvailable && isAdmin', ng-click='showBookingInfo(courtInfo.booking)', ng-class='{"btn btn-default" : courtInfo.paid, "btn btn-warning" : courtInfo.none}')
          | {{courtInfo.booking.contactName}}
