extends layout

block additionalCss
  link(rel='stylesheet', href='/stylesheets/index.css', type='text/css')

  // ---- jQuery & Plugins ----
  link(rel='stylesheet', href='/libraries/fancyBox/source/jquery.fancybox.css', type='text/css')

  // ---- Bootstrap & Plugins ----
  link(rel='stylesheet', href='/libraries/BootstrapFormHelpers/dist/css/bootstrap-formhelpers.min.css', type='text/css')



block mainContainer
  section(id='location-selection-container', ng-controller='LocationCtrl')
    h1 Location&nbsp;
      small Where do you want to book a court?
    .well
      .row
        div(class='col-sm-6 col-md-5')
          //.row
          //  div(class='col-sm-12')
          //    div(class='input-group pad-bottom-small')
          //      input(type='text', class='form-control', placeholder='Enter your address to find nearest court')
          //      span(class='input-group-btn')
          //        button(class='btn btn-default')
          //          span(class='glyphicon glyphicon-search')
          .row
            div(class='col-sm-12')
              div(id='location-selection-list', class='panel-group')
                div(class='panel panel-default', ng-repeat='location in locations', ng-cloak)
                  div(class='panel-heading')
                    a(data-toggle='collapse', data-parent='#location-selection-list', href='#location-selection-{{location.id}}')
                      div
                        h4 {{location.name}}
                        span(class='glyphicon glyphicon-map-marker') &nbsp;
                        address {{location.address.street}}, {{location.address.city}}, {{location.address.province}} {{location.address.postalCode}}
                  div(id='location-selection-{{location.id}}', ng-class='{"panel-collapse collapse pad-medium" : !location.selected, "panel-collapse collapse pad-medium in" : location.selected}')
                    strong {{location.courtCount}} courts
                    | &nbsp;at this location
                    br
                    span(class='glyphicon glyphicon-time') &nbsp;
                    | {{location.hoursText}}
                    br
                    span(class='glyphicon glyphicon-earphone') &nbsp;
                    | {{location.phones[0]}}
                    br
                    span(class='glyphicon glyphicon-globe') &nbsp;
                    a(href='{{location.websites[0]}}', target='_blank') {{location.websites[0]}}
                    br
                    span(class='glyphicon glyphicon-envelope') &nbsp;
                    a(href='mailto:{{location.emails[0]}}') {{location.emails[0]}}
                    div(id='court-images-container-{{location.id}}', class='court-images-container')
                      a(href='{{image}}', rel='court-image-{{location.id}}', class='court-image-link', ng-repeat='image in location.images', court-image-slider)
                        div(class='court-image', style='background-image: url("{{image}}")')
                    div(class='text-right')
                      a(type='button', class='btn btn-success', ng-click='selectLocation(location.id)') Select
        div(class='col-sm-6 col-md-7')
          #location-map

  section(id='time-court-selection-container', class='section-spaced', ng-controller='TimeCourtSelectionCtrl')
    h1 Time & Court&nbsp;
      small When and which court do you want to book?
    .well
      .row
        div(class='col-sm-5')
          div(id='time-court-selection-date-input', class='bfh-datepicker', data-format='y-m-d', data-min='today')
        div(class='col-sm-5')
          div(id='time-court-selection-time-input', class='bfh-timepicker', data-mode='12h')
        div(class='col-sm-2')
          a(type='button', class='btn btn-default full-width', ng-click='showAvailibility()') Go!&nbsp;
          //a(type='button', class='btn btn-default full-width', href='') View Floor Plan
      .row
        div(class='col-sm-12')
          h4 Current {{locationName}} court availability for {{currentDate}} at {{currentTime}}
          //button(type='button', class='btn btn-info btn-xs full-width margin-top-bottom-small', ng-click='showAvailibility()')
          //h4 View {{locationName}} court availability for {{currentDate}} at {{currentTime}}
      court-availability-table
      .row
        div(class='col-sm-12 text-right')
          button(type='button', class='btn btn-success margin-top-bottom-small right', ng-click='bookSelectedCourts()') Book selected court(s)

  section(id='contacts-container', class='section-spaced', ng-controller='ContactsCtrl')
    h1 Contacts&nbsp;
      small How could we contact you?
    .well
      .row
        div(class='col-sm-2') Name
        div(class='col-sm-4')
          input(type='text', class='form-control', placeholder='John Doe', ng-model='name')
        div(class='col-sm-2') Phone No.
        div(class='col-sm-4')
          form
            input(type='text', class='form-control bfh-phone', data-format='+1 (ddd) ddd-dddd', placeholder='(604) 111-8888', ng-model='phoneNo')
      .row
        div(class='col-sm-12 text-right')
          button(type='button', class='btn btn-success margin-top-bottom-small right', ng-click='saveContactInfoAndViewSummary()') View Summary

  section(id='summary-container', class='section-spaced', ng-controller='SummaryCtrl')
    h1 Summary&nbsp;
      small Could you please confirm your booking at {{locationName}}?
    .well
      table(class='table margin-top-bottom-small', id='summary-table')
        thead
          th Court No.
          th Date & Time
          th Price
          th
        tbody
          tr(ng-repeat='booking in bookings')
            td {{booking.courtNo}}
            td {{booking.dateTime}}
            td {{booking.price | currency:"$"}}
            td
              button(type='button', class='btn btn-danger right', ng-click='removeSelectedBooking(booking.courtNo, booking.dateTime)')
                span(class='glyphicon glyphicon-remove')
          tr(id='summary-table-footer', class='')
            td(colspan=3)
              h4 Grand total
            td
              h4 {{grandTotal | currency:"$"}}
      .row
        div(class='col-sm-12 text-right')
          button(type='button', class='btn btn-success margin-top-bottom-small right', ng-click='confirmBooking()') Confirm Booking





block additionalJs
  //App JS
  script(src='/javascripts/controllers/location.js')
  script(src='/javascripts/controllers/timecourtselection.js')
  script(src='/javascripts/controllers/contacts.js')
  script(src='/javascripts/controllers/summary.js')
  script(src='/javascripts/directives/courtImageSlider.js')
  script(src='/javascripts/directives/courtAvailabilityTable.js')
  script(src='/javascripts/page/index.js')

  // ---- jQuery & Plugins ----
  script(src='/libraries/carouFredSel/jquery.carouFredSel-6.2.1-packed.js')
  script(src='/libraries/carouFredSel/helper-plugins/jquery.mousewheel.min.js')
  script(src='/libraries/carouFredSel/helper-plugins/jquery.touchSwipe.min.js')
  script(src='/libraries/fancyBox/source/jquery.fancybox.pack.js')

  // ---- Bootstrap & Plugins ----
  //script(src='/libraries/BootstrapFormHelpers/dist/js/bootstrap-formhelpers.min.js')
  script(src='/libraries/BootstrapFormHelpers/dist/js/bootstrap-formhelpers.js')



