doctype html

html(ng-app='getBookin')
  head

    meta(name='google-signin-clientid', content='21530040744-3f1n0im8jkkac6ivjdb9rfdtqetrin85.apps.googleusercontent.com')
    meta(name='google-signin-scope', content='https://www.googleapis.com/auth/plus.login')
    meta(name='google-signin-requestvisibleactions', content='http://schemas.google.com/AddActivity')
    meta(name='google-signin-cookiepolicy', content='single_host_origin')

    title= title

    // ---- Bootstrap & Plugins ----
    link(rel='stylesheet', href='/libraries/bootstrap/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', type='text/css')

    //link(rel='stylesheet', href='/stylesheets/global.css', type='text/css')

    // ---- AngularJS & Plugins ----
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-cookies.min.js')

    // ---- jQuery & Plugins ----
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')

    script(src='javascripts/global.js')

    block additionalCss

  body
    div(id='fb-root')

    // -------- [START] Navbar --------
    nav(class='navbar navbar-default navbar-fixed-top', role='navigation')
      .navbar-header
      a.navbar-brand(href='/')
        img(src='images/logo.png', alt='LOGO')
      #main-navbar(class='collapse navbar-collapse')
        ul(class='nav navbar-nav')
          li
            a(href='/') NEW BOOKING
          li
            a(href='/') MAKE CHANGE
          li
            a(href='/') CANCEL
        ul(class='nav navbar-nav navbar-right')
          #main-navbar-signinwith SIGN IN WITH&nbsp;
            glogin
            fblogin
    // -------- [END] Navbar --------

    block mainContainer

    // ---- Bootstrap & Plugins ----
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js')

    // ---- Google Map ----
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAo0HBa1d_xNIIwx1UksjPg50MQQbjLCjQ&sensor=true')
    script(src='config.js')

    // ---- Classes ----
    script(src='javascripts/class/map.js')

    // ---- Additional Libraries ----
    script(src='libraries/moment/moment.min.js')

    // ---- App JS ----
    script(src='javascripts/directives/fbLogin.js')
    script(src='javascripts/directives/gLogin.js')

    block additionalJs

