body {
  height: 100%;
  margin: 0;
  padding: 50px 15px 0 15px;
  background-image: url("/images/bodybg.png");
}
section {
  width: 100%;
  margin: 0 auto;
}
address {
  margin: 0;
  display: inline;
}
#error-msg-container {
  position: fixed;
  top: 60px;
  right: 15px;
  display: none;
}
.modal-footer {
  margin-top: 0;
}
.navbar-brand {
  padding: 4px 15px;
}
.text-orange {
  color: #ed9c28;
}
.text-blue {
  color: #2381ce;
}
.text-green {
  color: #47a447;
}
.text-black {
  color: #000;
}
.right {
  float: right;
}
.pad-small {
  padding: 0.5em;
}
.pad-medium {
  padding: 1em;
}
.pad-left-right-medium {
  padding: 0 1em;
}
.pad-bottom-small {
  padding-bottom: 0.5em;
}
.pad-top-bottom-small {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.no-margin {
  margin: 0;
}
.margin-top-bottom-small {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.margin-top-bottom-right-small {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}
.section-spaced {
  padding-top: 70px;
}
.full-width {
  width: 100%;
}
.capitalize {
  text-transform: capitalize;
}
nav {
  padding: 0 0 0 0.5em;
}
.login-status-container {
  background-color: #ed9c28;
  color: #fff;
  padding: 0 15px;
}
#main-navbar-signinwith {
  height: 50px;
}
#main-navbar-signinwith button {
  padding: 2px 6px;
  font-size: 20px;
  min-width: 36px;
  margin-left: 4px;
}
#main-navbar .active {
  background-color: #347ec8;
}
#location-map {
  height: 500px;
}
#location-selection-container a:hover {
  text-decoration: none;
}
#time-court-selection-table td {
  padding: 0;
}
#time-court-selection-table td button {
  width: 100%;
  border-radius: 0;
}
#time-court-selection-table td.court-selection-label {
  vertical-align: middle;
}
#time-court-selection-table th {
  text-align: center;
}
section#time-court-selection-container {
  display: none;
}
section#summary-container {
  display: none;
}
