@import "global"

section#time-court-selection-container
  display none

section#summary-container
  display none

#error-msg-container
  position fixed
  top 60px
  margin-right 15px
  display none


