@import "global"

.court-images-container
  text-align center

.court-image
  width 60px
  height 60px
  background-size cover
  background-repeat no-repeat
  background-position center
  margin 4px

a.court-image-link
  /*display block*/
  /*float left*/
  display inline-block
  border 1px solid color-grey
  margin 4px 0 4px 4px

section#time-court-selection-container
  display none

/* ---- [START] Court availability table ---- */
#time-court-selection-table td
  padding 0

#time-court-selection-table td button
  width 100%
  border-radius 0

#time-court-selection-table td.court-selection-label
  vertical-align middle

#time-court-selection-table th
  text-align center

/* ---- [END] Court availability table ---- */


section#contacts-container
  display none


section#summary-container
  display none

#summary-table-footer
  h4
    font-weight bold




